<div class="content">
  <h2>404</h2>
   <img src="oops-404.avif" alt="404-Not-Found">
  <h4>Page not found</h4>
  <p>The page you were looking for doesn't exist.</p>
  <a href="/">Back To Home</a>
</div>