
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <style>
      h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: max 100 px;
      }
      body{
    background-image: url("/images/HTML-404-Typed-Message.gif");
    background-size:100%;
    background-repeat: no-repeat;
    background-color: black;
    }
    .main_button{

    margin-top: 45px;
    background-color:#f9004d; 
   border:2px solid transparent;   
   color: white;
   border-radius: 30px;
   padding: 10px 30px;
   text-align:left;
   text-decoration: none;
   font-weight: bold;
   display: left;
   font-size: 16px;
   left: auto;
}
    </style>
  

</head>
<body1>
    <div class="content">
  
  <h1 >The page you were looking for doesn't exist.</h1>
  <a href="/">
<button class="main_button">Go Back To Main Page</button></div>
</a>
</body1>
</html>
  


