
    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hi, I am kuldeepsinh sandipsinh mahida friends call me kush </p>
          <p>I am an international student studying computer programming in seneca college of applied arts and technology</p>
          <p>dont have much of hobbies when I am free simply spend my time doing random things but travelling across the globe is something that is on my wishlist</p>
          <p>I am much like an introvert dont talk much but when I start there is no end</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra.</p>
        </aside>
      </div>
    </div>